
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  min-width: 960px;
 
}

.Quote {
 min-height: 100vh;
 display: flexbox;
 justify-self: center;

}

#sbq {
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 5%;
}
#sbq {
    justify-content: center;
    align-items: center; 
    background: rgb(61, 208, 253);
    padding: 3rem 5rem;
    border-radius: 3px;
    
    

}

#quotes {

    padding-top: 1rem;
    line-height: 150%;
    font: 200;
    
}
.expand{
    width: 35rem;

}