*{
  margin: 0;
  padding: 0;
}
body {
  /* background: #1c0c22; */
  font-family: 'lato', sans-serif;
  font-size: 14px;
  color: rgb(214, 223, 230);
}
.flex{display: flex;
}
.justify-spacebtw {
  justify-content: space-between;
}
.justify-evenly{
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.borderbox {
  box-sizing: border-box;
}
.m-20 {
  margin: 20px;
}
.mlr-20 {
  margin: 0 20px;
}
.mtb-20 {
  margin: 20px 0;
}
.m-10 {
  margin: 10px;
}
.mlr-10 {
  margin: 0 10px;
}
.mtb-10 {
  margin: 10px 0;
}
.m-5 {
  margin: 5px;
}
.mlr-5 {
  margin: 0 5px;
}
.mtb-5 {
  margin: 5px 0;
}
.p-20 {
  margin: 20px;
}
.plr-20 {
  margin: 0 20px;
}
.ptb-20 {
  margin: 20px 0;
}
.p-10 {
  margin: 10px;
}
.plr-10 {
  margin: 0 10px;
}
.ptb-10 {
  margin: 10px 0;
}
.p-5 {
  margin: 5px;
}
.plr-5 {
  margin: 0 5px;
}
.ptb-5 {
  margin: 5px 0;
}